.social a {
	margin: 0.6rem;
	transition: 0.5s ease;
	height: 8vw;
	width: 8vw;
	max-width: 3rem;
	max-height: 3rem;
	display: inline-block;
}
.social a:hover {
	cursor: pointer;
}
.social a svg {
	height: 50%;
	width: 50%;
	fill: white;
}
.social .badges a {
	border-radius: 1rem;
}
.round {
	border-radius: 50%;
}
.rounded {
	border-radius: 20%;
}
.facebook {
	background: #3b5998;
}
.facebook:focus,
.facebook:hover {
	background: #2d4373;
}
.snapchat {
	background: #f7ec1e;
}
.snapchat:focus,
.snapchat:hover {
	background: #dad008;
}
.snapchat svg {
	stroke-width: 13;
	stroke: #25262a;
}
.whatsapp {
	background: #25d366;
}
.whatsapp:focus,
.whatsapp:hover {
	background: #1da851;
}
.youtube {
	background: #cd201f;
}
.youtube:focus,
.youtube:hover {
	background: #a11918;
}
